# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\an3_sem2\sd\lab4-paymentREST\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
